*.py[co]
*.sw[op]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage-html
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

.DS_store
gzip

node_modules
www/*.html
www/css/*.min.css
www/css/*.less.css
www/js/*.min.js
www/js/templates.js
www/js/app_config.js
www/js/copy_text.js
confs/rendered/*
data/copy.xls
tumblr-theme.html

data/playgrounds.csv
data/*.db
playgrounds.db
www/playground
www/test/test.html
inserts.json
updates-in-progress.json
data/*changes.json
www/sitemap.xml
*.un~
.playgrounds_html
.playgrounds_gzip
*.bak
www/npr-accessible-playgrounds.*
data/backups/*.json
data/backups/*.db
www/js/embed-widget.js
