0 4 * * * ubuntu bash /home/ubuntu/apps/where-all-kids-play2/repository/cron.sh fab $DEPLOYMENT_TARGET write_snapshots >> /var/log/where-all-kids-play2-crontab.log 2>&1
0 4 * * * ubuntu bash /home/ubuntu/apps/where-all-kids-play2/repository/cron.sh /home/ubuntu/apps/where-all-kids-play2/repository/process_updates.py >> /var/log/where-all-kids-play2-crontab.log 2>&1
0 4 * * * ubuntu bash /home/ubuntu/apps/where-all-kids-play2/repository/cron.sh fab $DEPLOYMENT_TARGET deploy_data >> /var/log/where-all-kids-play2-crontab.log 2>&1
