<li id="playground-<%= letter %>">
    <div class="result-letter">
        <strong><%= letter.toUpperCase() %></strong>
    </div>
    <div class="result-text">
        <a href="<%= S3_BASE_URL %>/playground/<%= data.slug[0] %>.html">
            <%= data.display_name[0] %>
        </a>
        
        <span class="result-features">
        <% var feature_list_prefix = '<strong>Features:</strong>&nbsp;' %>
        <% var feature_list = feature_list_prefix %>
        <% var feature_counter = 0 %>
        <% for (feature in window.FEATURES) { %>
            <% var feat = feature.replace(/-/g,'_') %>
            <% if (data['feature_' + feat][0] == 1) { %>
                <% if (feature_counter > 0) { %>
                    <% feature_list += ', ' %>
                <% } %>
                <% feature_list += window.FEATURES[feature].term.toLowerCase() %>
                <% feature_counter++ %>
            <% } %>
        <% } %>
        <% if (feature_list != feature_list_prefix) { %>
            <%= feature_list %>
        <% } else { %>
            <i class="icon-question-sign"></i>&nbsp;Help us identify accessible features at this playground.
        <% } %>
        </span>
    </div>
    <div class="result-meta">
        <span class="result-distance">
            <% if (data.distance && data.latitude.length > 0) { %>
                 <%= (data.distance[0] / 1000).toFixed(1) %> miles
            <% } %>
        </span>
        <span class="result-city">
            <% if (data.city[0]) { %><%= data.city[0] %>, <% } %><%= data.state[0] %>
        </span>
    </div>
</li>
