<div class="alerts">
    <div id="editing_thanks" class="alert alert-block hide">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p>{{ COPY.content.editing_thanks }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="create_thanks" class="alert alert-block hide">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p>
                        {{ COPY.content.creating_thanks }}
                        <a href="create.html">Add another?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="deleting_thanks" class="alert alert-block hide">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p>{{ COPY.content.deleting_thanks }}</p>
                </div>
            </div>
        </div>
    </div>
</div>