<div class="alerts">
    <div id="editing_thanks" class="alert alert-block hide">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p>{{ COPY.content.editing_thanks }}</p>
    </div>
    <div id="create_thanks" class="alert alert-block hide">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p>
            {{ COPY.content.creating_thanks }}
            <a href="create.html">Add another?</a>
        </p>
    </div>
    <div id="deleting_thanks" class="alert alert-block hide">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p>{{ COPY.content.deleting_thanks }}</p>
    </div>
</div>
