<html>
<head>
    <style type="text/css">
        * { color: #444444; font-family: sans-serif;}
        a { color: #3a87ad; }
        a:hover { text-decoration: none; color:#000; }
        p { font-size: 16px; padding: none; margin: 5px; }
        h2 { border-bottom: 1px solid #cccccc; }
        .delete { color: #b94a48; font-weight: bold;}
    </style>
</head>
<body>

    <h1>Summary</h1>
    <p><!-- REFACTOR AS A TABLE -->
        {% if deletes.playgrounds|length > 0 %}
            {% if deletes.playgrounds|length == 1 %} 1 delete request requires
            {% else %}{{ deletes.playgrounds|length }} delete requests require{% endif %}
            your attention.<br/>
        {% endif %}
        {% if inserts.playgrounds|length > 0 %}
            {% if inserts.playgrounds|length == 1 %} 1 playground was
            {% else %}{{ inserts.playgrounds|length }} playgrounds were{% endif %}
            added.<br/>
        {% endif %}
        {% if updates.playgrounds|length > 0 %}
            {% if updates.playgrounds|length == 1 %} 1 playground was
            {% else %}{{ updates.playgrounds|length }} playgrounds were{% endif %}
            edited.<br/>
        {% endif %}
        {{ total_revisions }} total revisions were made.
    </p>

    <h1>Details</h1>
    {% if deletes.playgrounds|length > 0 %}<h2 class="delete">Deletes ({{ deletes.playgrounds|length }})</h2>
    <p>
    {% for playground in deletes.playgrounds %}
        <a href="{{ playground.site_url }}" target="_blank">{{ playground.display_name }}</a> |
        <a href="{{ playground.delete_url }}" target="_blank" class="delete">Delete</a>
        <p>{{ playground.text }}</p>
    {% endfor %}
    </p>{% endif %}
    {% if inserts.playgrounds|length > 0 %}<h2 style="color: #468847;">Inserts ({{ inserts.playgrounds|length }})</h2>
    <p>
    {% for playground in inserts.playgrounds %}
        <a href="{{ playground.site_url }}" target="_blank">{{ playground.display_name }}</a><br/>
    {% endfor %}
    </p>{% endif %}
    {% if updates.playgrounds|length > 0 %}<h2 style="color: #f89406;">Updates ({{ updates.playgrounds|length }})</h2>
    <p>
    {% for playground in updates.playgrounds %}<a href="{{ playground.site_url }}" target="_blank">{{ playground.display_name }}</a>
        <ul>{% for revision in playground.revisions %}
            <li>Submitted by {{ revision.headers.host }}
                <ul>{% for field in revision.fields %}
                    <li>{{ field.field }} changed from
                        {% if field.from == '' %}<em>none</em>{% else %}{{ field.from }}{% endif %} to
                        {% if field.to == '' %}<em>none</em>{% else %}{{ field.to }}{% endif %}</li>
                {% endfor %}</ul></li>
            {% endfor %}</ul>
    {% endfor %}
    </p>
    {% endif %}
    {% if deletes.playgrounds|length == inserts.playgrounds|length == updates.playgrounds|length == 0 %}
    <p>There were no updates processed in this cycle.</p>
    {% endif %}
</body>
</html>