<!-- Switch between plural and singular? -->
Summary
-------
{{ playgrounds|length }} playgrounds were changed, with {{ total_revisions }} distinct edits.
TKTK playgrounds were requested to be added.
TKTK playground
{% for playground in playgrounds %}
{{ playground.name }} 
{{ playground.site_url }}
{% for revision in playground.revisions %}
Revision: {{ revision.revision_group }}
{% for field in revision.fields %} * {{ field.field }} changed from {{ field.from }} to {{ field.to }}
{% endfor %}
{% endfor %}
{% endfor %}
