<div class="modal-body scrollable">
    <h2>Edit Playground</h2>
    <p class="muted">Changes will be submitted for review and posted within 24 hours.</p>

    <h5 class="address-label">Address <a id="toggle-address-button" class="btn btn-success">Edit</a></h5>
    <div id="address-placeholder">
        {% if playground.latitude and playground.longitude %}
        <img id="modal-locator-map" data-longitude="{{ playground.longitude }}" data-latitude="{{ playground.latitude }}" />
        {% endif %}
        <div class="address-meta">
            <p>
            {% if playground.address %}{{ playground.address }}<br />{% endif %}
            {% if playground.city %}{{ playground.city }}, {% endif %}
            {% if playground.state %}{{ playground.state }} {% endif %}
            {% if playground.zip_code %}{{ playground.zip_code }}{% endif %}
            </p>
        </div>
    </div>
    <form id="playground-form" class="row-fluid" method="post" enctype="multipart/form-data" action="{{ SERVER_BASE_URL }}/update-playground/">
            <div class="features span6">
            <h5>Features</h5>
            {% for feature in features %}
                <div class="feature">
                    {{ feature|safe }}
                </div>
            {% endfor %}
            </div>
            <div class="basic-info span6">
            {% for field in fields %}
                <div class="control-group"{% if field.display %} {{ field.display|safe }}{% endif %}>
                    <label class="control-label">{{ field.name }}</label>
                    <div class="controls">
                        {{ field.widget|safe }}
                    </div>
                </div>
            {% endfor %}
            </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="playground-update" class="btn btn-large btn-success">Save</button>
</div>

<div class="hide scrollable address-editor">
    <h2 class="edit-address-hed">Edit location</h2>

    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#map-pane" data-toggle="tab">Adjust position</a></li>
      <li><a href="#address-pane" data-toggle="tab">Edit address</a></li>
    </ul>

    <div class="tab-content">
        <div id="map-pane" class="map-pane tab-pane active">
            <div class="edit-address-map">
                <div id="edit-map">
                    <div id="edit-marker" class="icon-screenshot"></div>
                    <a id="geolocate" class="btn btn-large">
                        <i class="icon-location-arrow"></i>
                    </a>
                </div>
                <p>Drag the map to update location</p>
            </div>
        </div>
        <div id="address-pane" class="address-pane tab-pane scrollable">
            <form id="search-form">
                <!-- <input type="text" class="input input-block-level" id="search-address" />
                <div id="no-geocode">
                    <h4>Sorry, we couldn't locate that address.</h4>
                </div>
                <div id="search-help">
                    <h4>Did you mean...?</h4>
                    <ul id='did-you-mean-edit'></ul>
                </div> -->
                <label>Street</label>
                <input type="text" id="possible-street"/>
                <label>City</label>
                <input type="text" id="possible-city"/>
                <label>State</label>
                <input type="text" id="possible-state"/>
                <label>ZIP</label>
                <input type="text" id="possible-zip"/>
                <input type="hidden" id="possible-latitude"/>
                <input type="hidden" id="possible-longitude"/>
                <!-- <button type="button"id="search-address-button" class="btn btn-large">
                    Search
                </button> -->
            </form>
        </div>
    </div>
    
    
    <div class="edit-address-footer">
        <a id="accept-address" class="btn btn-large btn-block btn-success">
            Done
        </a>
    </div>
</div>
