<form id="playground-form" class="form-horizontal" method="post" enctype="multipart/form-data" action="http://{{ SERVERS[0] }}/{{ PROJECT_SLUG }}/api/">
        {% for field in fields %}
            <div class="control-group"{% if field.display %} {{ field.display|safe }}{% endif %}>
                <label class="control-label">{{ field.name }}</label>
                <div class="controls">
                	{{ field.widget|safe }}
                </div>
            </div>
        {% endfor %}
        <div class="features">
        {% for feature in features %}
            {{ feature|safe }}
        {% endfor %}
        </div>
    <button class="btn btn-large btn-success">Save</button>
</form>