<div class="modal-body">
    <h2>Edit Playground</h2>
    <p class="muted">Changes will be submitted for review and posted within 24 hours.</p>

    <form id="search-form">
        <label class="control-label">Address</label>
        <input type="text" class="input" id="search-address" />
        <input type="hidden" id="possible-street"/>
        <input type="hidden" id="possible-city"/>
        <input type="hidden" id="possible-state"/>
        <input type="hidden" id="possible-zip"/>
        <input type="hidden" id="possible-latitude"/>
        <input type="hidden" id="possible-longitude"/>
        <button type="button"id="search-address-button" class="btn btn-large">
            Search
        </button>
        <button type="button" id="geolocate" class="btn btn-large">
            <i class="icon-screenshot"></i>
        </button>
        <button type="button" id="accept-address" class="btn btn-large btn-block btn-success">
            Accept Address
        </button> 
    </form>

    <div id="search-help">
        <h4>Did you mean...?</h4>
        <ul id='did-you-mean-edit'></ul>
    </div>

    <div id="no-geocode">
        <h4>Sorry, we couldn't locate that address.</h4>
    </div>

    <div id="edit-map">
        <div id="edit-marker" class="icon-screenshot"></div>
    </div>
    <form id="playground-form" class="row-fluid" method="post" enctype="multipart/form-data" action="{{ SERVER_BASE_URL }}/update-playground/">
            <div class="basic-info span6">
            {% for field in fields %}
                <div class="control-group"{% if field.display %} {{ field.display|safe }}{% endif %}>
                    <label class="control-label">{{ field.name }}</label>
                    <div class="controls">
                        {{ field.widget|safe }}
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="features span6">
            <h4>Features</h4>
            {% for feature in features %}
                <div class="feature">
                    {{ feature|safe }}
                </div>
            {% endfor %}
            </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-large" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="playground-update" class="btn btn-large btn-success">Save</button>
</div>
