<div class="modal-warning">
  <input id="modal" type="checkbox" name="modal" tabindex="1">
  <div class="modal__overlay">
    <div class="modal__container">
      <div class="modal__box">
        <a href="https://www.npr.org/" target="_blank"><img src="img/nprlogo_138x46.jpg"></img></a>
        <h2>This Content is Out of Date</h2>
        <p>Note: This app is not currently being maintained, and the information here may be outdated or inaccurate.</p>
        <label for="modal" class="btn btn-blue">Understood</label>
      </div>
    </div>
  </div>
</div>
