<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1><a href="http://npr.org"><img class="logo" src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></a> <a href="{{ S3_BASE_URL }}">{{ PROJECT_NAME }}</a></h1>
                <ul class="project-nav">
                    <li class="home"><a href="http://npr.org"><img class="logo" src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></a> <a href="{{ S3_BASE_URL }}">{{ PROJECT_NAME }}</a></li>
                    <li class="search"><a href="{{ S3_BASE_URL }}/search.html"><i class="icon-search"></i> Search</a></li>
                    <li class="primer"><a href="{{ S3_BASE_URL }}/#playground-feature-primer"><i class="icon-question-sign"></i> <span>What Is This?</span></a></li>
                    <li class="help"><a href="{{ S3_BASE_URL }}/#playground-help"><i class="icon-heart"></i> How To Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
