<section id="playground-search">
    <div class="container">
        <div class="row">
            <div class="span12">

                <div id="create_thanks" class="alert alert-success alert-block hide">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <h4>Thanks!</h4>
                    <p>Your changes have been submitted for review.</p>
                    <p>Would you mind reviewing another playground?</p>
                    <ul>
                        <li><a href="#">Park One</a></li>
                        <li><a href="#">Park Two</a></li>
                        <li><a href="#">Park Three</a></li>
                        <li><a href="#">Not Now, Thanks</a></li>
                    </ul>
                </div>

                <h3 id="search-title">{{ COPY.content.search_title }}</h3>
                <p class="example">for example,
                    <a class="search-example">Deicke Park, Huntley, IL</a> or
                    <a class="search-example">1300 13th Street NW, Washington DC 20005</a> or
                    <a class="search-example">New York, NY</a> or
                    <a class="search-example">79410</a>
                </p>

                <form id="search" action="search.html" method="get">
                    <button type="button" id="geolocate" class="btn btn-blue btn-block"><i class="icon-screenshot"></i> Find Playgrounds Nearby</button>

                    <h6 class="divider">OR</h6>

                    <div id="address-search">
                        <input type="text" name="address" placeholder="Address, City/State or ZIP" class="address-search-input" />

                        <input type="hidden" name="latitude" />
                        <input type="hidden" name="longitude" />
                        <button type="submit" id="search-btn" class="btn btn-blue btn-block"><i class="icon-search"></i><span>Search</span></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

