<section id="playground-search">
    <div class="container">
        <div class="row">
            <div class="span12">

                <h1 id="search-title">{{ COPY.content.search_title }}</h1>
                <p class="example">for example,
                    <a href="search.html#address=405,+Shaffner+Street,+Denton,+Texas,+76259&latitude=33.1834531428571&longitude=-97.2888774489796&zoom=14&nearby=false" class="search-example">405 Shaffner St, Ponder, TX</a> or
                    <a href="search.html#address=New+York+City,+New+York&latitude=40.7305991&longitude=-73.9865812&zoom=14&nearby=false" class="search-example">New York, NY</a> or
                    <a href="search.html#address=Lubbock,+Lubbock+County,+Texas,+79410&latitude=33.5687784855597&longitude=-101.890442782044&zoom=14&nearby=false" class="search-example">79410</a>
                </p>

                <form id="search">
                    <button type="button" id="geolocate" class="btn btn-blue btn-block"><i class="icon-screenshot"></i> Find Playgrounds Nearby</button>

                    <h6 class="divider">OR</h6>

                    <div id="address-search">
                        <input type="text" name="address" placeholder="Address, City/State or ZIP" class="address-search-input" />

                        <input type="hidden" name="latitude" />
                        <input type="hidden" name="longitude" />
                        <button type="submit" id="search-btn" class="btn btn-blue btn-block"><i class="icon-search"></i><span>Search</span></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

