{% extends "_base.html" %}

{% block body_class %}playground{% endblock body_class %}

{% block extra_css %}
    {{ CSS.push('css/mapbox.css') }}
{% endblock %}

{% block extra_head %}
    <script type='text/javascript' src="http://api.tiles.mapbox.com/mapbox.js/v1.1.0/mapbox.js"></script>
{% endblock %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1><a href="../../">{{ PROJECT_NAME }}</a></h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="create-form">
    <h2>{{ COPY.content.create_title }}</h2>
    <p class="muted">{{ COPY.content.create_description }}</p>
    <p class="muted bulk-email">{{ COPY.content.create_description_email }}</p>

    <a id="path-geocode" class="btn btn-large btn-block">I know the street address.</a>
    <a id="path-reverse-geocode" class="btn btn-large btn-block">I don't know the address.</a>

    <div id="address-editor">
        <div class="path-reverse-geocode hidden address-form">
            <p>Drag the map to update location.</p>

            <div id="edit-map">
                <div id="edit-marker" class="icon-screenshot"></div>
            </div>

            <button type="button" id="geolocate" class="btn btn-large">
                <i class="icon-screenshot"></i>
            </button>

        </div>
    </div>

    <form id="playground-form" class="row-fluid" method="post" enctype="multipart/form-data" action="{{ SERVER_BASE_URL }}/insert-playground/">
        <div class="basic-info span6">
        {% for field in fields %}
            <div class="control-group"{% if field.display %} {{ field.display|safe }}{% endif %}>
                <label class="control-label">{{ field.name }}</label>
                <div class="controls">
                    {{ field.widget|safe }}
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="features span6">
        <h4>Features</h4>
        {% for feature in features %}
            <div class="feature">
                {{ feature|safe }}
            </div>
        {% endfor %}
        </div>
    </form>
    <button type="button" class="btn btn-large">Back</button>
    <button id="playground-update" class="btn btn-large btn-success">Save</button>
</div>
{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/add.js') }}
    {{ JS.push('js/lookup_tables.js') }}
    {{ JS.push('js/utils.js') }}
    {{ JS.render('js/app-add-footer.min.js') }}
{% endblock extra_foot_js %}