{% extends '_base.html' %}

{% block body_class %}playground create-playground{% endblock body_class %}

{% block extra_css %}
    {{ CSS.push('css/mapbox.css') }}
{% endblock %}

{% block extra_head %}
    <script type='text/javascript' src="http://api.tiles.mapbox.com/mapbox.js/v1.1.0/mapbox.js"></script>
{% endblock %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1><a href="../">{{ PROJECT_NAME }}</a></h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<form id="form" class="row-fluid playground-form" method="post" enctype="multipart/form-data" action="{{ SERVER_BASE_URL }}/insert-playground/">
<div class="">

    <h2>{{ COPY.content.create_title }}</h2>
    <p class="muted">Changes will be submitted for review and posted within 24 hours.</p>

    <h5 class="address-label">Address
        <a id="toggle-address-button" <a id="toggle-address-button" data-action="toggle_address_editor" class="btn btn-success">Edit</a>
    </h5>
    <div id="address-placeholder">
        <img id="modal-locator-map" class="hidden" data-longitude="" data-latitude="" />
        <div class="address-meta">
            <p></p>
        </div>
    </div>
    {#<div class="features span6">
        <h5>Features</h5>

        {% for feature in features %}
        <div class="feature">
            {{ feature|safe }}
        </div>
        {% endfor %}


    </div>#}
    <div class="fluid-row">
        <div class="features span6">
            <h5>Features</h5>

            {% for feature in COPY.feature_list %}
            <div class="feature control-group">
                <img src="{% if 'placekitten' not in feature['photo_thumb'] %}{{ S3_BASE_URL }}{% endif %}{{ feature['photo_thumb'] }}" alt="{{ feature['term'] }}" />
                <input type="checkbox" name="{{ feature['key'] }}"> <label class="checkbox">{{ feature['term'] }}</label>
                <span class="help-block">{{ feature['definition_short'] }}</span>
            </div>
            {% endfor %}

            <div class="alert">Don't see the feature you're looking for? <a href="#">Email us</a>.</div>
        </div>
        <div class="basic-info span6">
            <div class="control-group">
                <label class="control-label">Playground Name <span class="muted">(Optional)</span></label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="name" value=""></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">At (is this in a park or school?) <span class="muted">(Optional)</span></label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="facility" value=""></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">URL <span class="muted">(Optional)</span></label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="url" value=""></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Agency <span class="muted">(Optional)</span></label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="agency" value=""></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Owner <span class="muted">(Optional)</span></label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="owner" value=""></input>
                </div>
            </div>

            <div class="control-group" style="display:none">
                <label class="control-label">Remarks</label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="public_remarks" value=""></input>
                </div>
            </div>

            <div class="control-group" style="display:none">
                <label class="control-label">Id</label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="id" value="" data-changed="true"></input>
                </div>
            </div>

            <div class="control-group" style="display:none">
                <label class="control-label">Reverse Geocoded</label>
                <div class="controls">
                    <input type="checkbox" name="reverse_geocoded"></input>
                </div>
            </div>

            <div class="control-group" style="display:none">
                <label class="control-label">Latitude</label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="latitude" value=""></input>
                </div>
            </div>

            <div class="control-group" style="display:none">
                <label class="control-label">Longitude</label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="longitude" value=""></input>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="create-footer">
    <button id="playground-update" class="btn btn-large btn-success">Save</button>
</div>

<div class="address-editor">
    <h2 class="edit-address-hed">{{ COPY.content.create_title }}</h2>
    <div class="alerts"></div>
    <ul class="nav nav-tabs" id="editor-tabs">
      <li class="active"><a href="#map-pane" data-toggle="tab">I don't know the exact address</a></li>
      <li><a href="#address-pane" data-toggle="tab">I know the exact address</a></li>
    </ul>
    <div class="tab-content">
        <div id="map-pane" class="map-pane tab-pane active">
            <div class="edit-address-map">
                <div id="edit-map">
                    <div id="edit-marker" style="display:none;"></div>
                    <a id="geolocate" data-action="locate_me" class="btn btn-large">
                        <i class="icon-location-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="address-pane" class="address-pane tab-pane">
            <div class="control-group">
                <label class="control-label" data-required="true">Address</label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="address" value=""></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" data-required="true">City</label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="city" value=""></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">State</label>
                <div class="controls">
                    <select class="span12" type="text" name="state" value="" data-required="true">
                        <option value=""></option>
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AZ">AZ</option>
                        <option value="AR">AR</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DE">DE</option>
                        <option value="DC">DC</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="IA">IA</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="ME">ME</option>
                        <option value="MD">MD</option>
                        <option value="MA">MA</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MS">MS</option>
                        <option value="MO">MO</option>
                        <option value="MT">MT</option>
                        <option value="NE">NE</option>
                        <option value="NV">NV</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NY">NY</option>
                        <option value="NC">NC</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WV">WV</option>
                        <option value="WI">WI</option>
                        <option value="WY">WY</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Zip Code</label>
                <div class="controls">
                    <input class="input-block-level input" type="text" name="zip_code" value="" data-required="true"></input>
                </div>
            </div>
        </div>
    </div>

    <div class="edit-address-footer">
        <a id="accept-address" data-action="accept_address" class="btn btn-large btn-block btn-success">Done</a>
    </div>
</div>
</form>
<div class="modal-backdrop fade in"></div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/form.js') }}
    {{ JS.push('js/lookup_tables.js') }}
    {{ JS.push('js/utils.js') }}
    {{ JS.render('js/app-edit-footer.min.js') }}
{% endblock extra_foot_js %}

