{% extends '_base.html' %}

{% block body_class %}index{% endblock body_class %}

{% block extra_css %}
    {{ CSS.push('css/mapbox.css') }}
{% endblock %}

{% block extra_head %}
    <script type='text/javascript' src="http://api.tiles.mapbox.com/mapbox.js/v1.1.0/mapbox.js"></script>
{% endblock %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="span5 project-info-wrapper">
                <div class="project-info">
                    <h1>{{ PROJECT_NAME }}</h1>
                    <h2>{{ COPY.content.app_description }}</h2>
                    
                    <p class="sublinks">
                        <a href="{{ COPY.content.header_series_link }}">{{ COPY.content.header_series_link_text }}</a> |
                        <a href="{{ COPY.content.header_help_link }}">{{ COPY.content.header_help_link_text }}</a> |
                        <a href="{{ COPY.content.header_about_link }}">{{ COPY.content.header_about_link_text }}</a>
                    </p>
                    
                    <div class="mobile-prompt">
                        <p>{{ COPY.content.mobile_prompt }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% include '_search_form.html' %}

{% endblock %}


{% block content %}
<div id="playground-feature-primer">
    <h3 id="feature-title">{{ COPY.content.feature_title }}</h3>
    <p id="feature-description">{{ COPY.content.feature_description }}</p>

    <div id="feature-list">
        {% for row in COPY.feature_list %}
        <div class="row-fluid">
            <div class="span8">
                <img src="{{ row.photo }}" alt="{{ row.term }}" />
            </div>
            <div class="span4">
                <h4>{{ row.term }}</h4>
                <p>{{ row.definition }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div id="playground-help">
    <h3 id="help-title">{{ COPY.content.help_title }}</h3>
    <p id="help-description">{{ COPY.content.help_description }}</p>
    
    <a href="{{ COPY.content.help_search_link }}" class="btn btn-blue">{{ COPY.content.help_search_link_text }}</a>
</div>


<div id="playground-data" class="help-prompt">
    <h3 id="about-title">{{ COPY.content.data_title }}</h3>
    <p id="about-description">{{ COPY.content.data_description }}</p>
    
    <a href="{{ COPY.content.data_link_csv }}" class="btn btn-blue">{{ COPY.content.data_link_csv_text }}</a>
    <a href="{{ COPY.content.data_link_json }}" class="btn btn-blue">{{ COPY.content.data_link_json_text }}</a>
</div>


<div id="playground-meta">
    <p class="credits">{{ COPY.attribution.byline }}</p>
</div>

{% endblock %}


{% block extra_foot_js %}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/index.js') }}
    {{ JS.push('js/utils.js') }}
    {{ JS.push('js/responsive-ad.js') }}
    {{ JS.render('js/app-index-footer.min.js') }}
{% endblock %}
