{% extends '_base.html' %}

{% block body_class %}index{% endblock body_class %}

{% block extra_css %}
    {{ CSS.push('css/mapbox.css') }}
{% endblock %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>{{ PROJECT_NAME }}</h1>
                <h2>{{ COPY.content.lorem_ipsum }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<h3>{{ COPY.content.search_title }}</h3>
<p>{{ COPY.content.search_description }}</p>

<form id="search">
    <button type="button" id="geolocate" class="btn btn-blue btn-block"><i class="icon-globe icon-white"></i>Find Playgrounds Near Me</button>
    
    <h6 class="divider">OR</h6>
    
    <div class="text-search">
        <p><label for="address">Address:</label> <input type="text" name="address" /></p>
        <p><label for="query">Keyword:</label> <input type="text" name="query" /></p>

        <p class="example">For example, 
            <a id="newyork">New York City</a> or
            <a id="huntley">Deicke Park, Huntley, IL</a> or
            <a id="zip">79410</a>
        </p>
    </div>
    <input type="hidden" name="latitude" />
    <input type="hidden" name="longitude" />
    <input type="submit" value="Search" class="btn btn-blue btn-block" />
</form>

<div id="search-help">
    <h4>Did you mean...?</h4>
    <ul></ul>
    <h6 class="divider">OR</h6>
</div>

<div id="search-results-wrapper">
    <div id="search-results-map-wrapper">
        <h4 id="results-address"></h4>
        <img id="search-results-map" src="" />
        <button type="button" id="zoom-in" class="btn-zoom">Zoom In</button>
        <button type="button" id="zoom-out" class="btn-zoom">Zoom Out</button>
    </div>

    <ul id="search-results">
    </ul>

    <div id="search-help-prompt">
        <p class="prompt">Are we missing something? Help us out:</p>
        <p><a href="playground/create/" class="btn btn-blue btn-block">Add A Playground</a></p> 
    </div>
</div>

<button type="button" id="search-again" class="btn btn-blue btn-block">Try Another Search</button>
{% endblock %}


{% block wide_content %}
{% endblock %}

{% block extra_foot %}
<!--[if lte IE 8]>
    <link href='css/mapbox.ie.css' rel='stylesheet' />
<![endif]-->
<script type="text/javascript" src="js/lib/mapbox.js"> </script>
{% endblock extra_foot %}
