{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>{{ playground.name }}</h1>
                <h2>
                    {% if playground.facility %}{{ playground.facility }}{% endif %}
                    {% if playground.facility_type %}({{ playground.facility_type }}){% endif %}
                </h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}

<!-- Photos -->

<!-- Map / Address -->

<!-- Share buttons -->

<!-- Categories -->

<!-- Description -->

<!-- disqus -->

<!-- nearby parks -->

{% endblock %}


{% block wide_content %}{% endblock %}
