{% extends '_base.html' %}

{% block body_class %}playground{% endblock body_class %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1><a href="../../">{{ PROJECT_NAME }}</a></h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}

<div class="alert alert-remove">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ COPY.content.form_remove_confirm }}
</div>

<div class="help-prompt help-prompt-primary">
    <p class="prompt">{{ COPY.content.playground_help_primary_title }}</p>
    <a href="#edit-playground" role="button" class="btn btn-blue btn-block btn-edit" data-toggle="modal"><i class="icon-pencil"></i> {{ COPY.content.playground_help_button }}</a>
</div>

<h1>{{ playground.display_name }}</h1>

<!-- Map / Address -->
<div class="address">
    {% if playground.latitude and playground.longitude %}
    <img src="http://api.tiles.mapbox.com/v3/{{ MAPBOX_BASE_LAYER }}/pin-m-star+ff6633({{ playground.longitude }},{{ playground.latitude }})/{{ playground.longitude }},{{ playground.latitude }},15/300x120.png" class="map"/>
    {% endif %}
    <p>
    {% if playground.facility %}
        {{ playground.facility }}
        {% if playground.facility_type %}({{ playground.facility_type }}){% endif %}
        <br />
    {% endif %}
    {% if playground.address %}{{ playground.address }}<br />{% endif %}
    {% if playground.city %}{{ playground.city }}, {% endif %}
    {% if playground.state %}{{ playground.state }} {% endif %}
    {% if playground.zip_code %}{{ playground.zip_code }}{% endif %}
    {% if playground.url %}<br /><a href="{{ playground.url }}">Website</a>{% endif %}
    </p>

    <!-- Directions -->
    {% if playground.address %}
    <p><a href="https://maps.google.com/maps?saddr=&daddr={{ playground.address }}+{{ playground.city }}+{{ playground.state }}+{{ playground.zip }}&z=16" target="_blank" class="btn btn-blue"><i class="icon-road"></i> Get Driving Directions</a></p>
    {% elif playground.latitude and playground.longitude %}
    <p><a href="https://maps.google.com/maps?saddr=&daddr={{ playground.latitude }},{{ playground.longitude }}&z=16" target="_blank" class="btn btn-blue">Get Driving Directions</a></p>
    {% endif %}
</div>

<!-- Share buttons -->
<ul class="social">
    <li class="facebook"><a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK.APP_ID }}&amp;link={{ FACEBOOK.URL }}playground%2F{{ playground.id }}.html&amp;name={{ PROJECT_NAME }}%3A+{{ playground.name }}&amp;picture={{ FACEBOOK.IMAGE_URL }}&amp;redirect_uri={{ FACEBOOK.URL }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Navbar', '{{ PROJECT_NAME }}']);"><span>Like This On Facebook</span><b>Share This</b></a></li>
    <li class="twitter"><a rel="external" href="http://twitter.com/share?text={{ PROJECT_NAME }}%3A+{{ playground.name }}&amp;url={{ TWITTER.URL }}playground%2F{{ playground.id }}.html" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Navbar', '{{ PROJECT_NAME }}']);"><span>Share This On Twitter</span><b>Tweet This</b></a></li>
</ul>

<!-- Categories / key features -->
<div class="playground-features">
    <h4>Key Features</h4>
    <ul>
        <li>Ramps to play components <i class="icon icon-question-sign" data-toggle="tooltip" title="Ramps lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">About</i></li>
        <li>Accessible swing <i class="icon icon-question-sign" data-toggle="tooltip" title="Swing lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">About</i></li>
        <li>Smooth surface throughout <i class="icon icon-question-sign" data-toggle="tooltip" title="Surface lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">About</i></li>
    </ul>
</div>

<!-- Description -->
{% if playground.public_remarks or playground.agency or playground.owner %}
<div class="about">
    <h4>About This Playground</h4>
{% endif %}

    {% if playground.public_remarks %}
    <p class="description">{{ playground.public_remarks }}</p>
    {% endif %}

    {% if playground.agency or playground.owner  %}
    <ul class="meta">
        {% if playground.agency %}
        <li class="agency">
                <strong>Agency:</strong>
                {{ playground.agency }}
                {% if playground.agencytype %} ({{ playground.agencytype }}){% endif %}
        </li>
        {% endif %}
        {% if playground.owner %}
        <li class="owner">
            <strong>Owner:</strong>
            {{ playground.owner }}
            {% if playground.owner_type %} ({{ playground.owner_type }}){% endif %}
        </li>
        {% endif %}
    </ul>
    {% endif %}
{% if playground.public_remarks or playground.agency or playground.owner %}
</div>
{% endif %}


<!-- disqus -->
<!-- TODO: add disqus form -->
<div class="comments">
    <h4>{{ COPY.content.playground_note_title }}</h4>
    <p>{{ COPY.content.playground_note_description }}</p>
</div>


<!-- nearby parks -->
<div class="nearby">
    <h4>{{ COPY.content.playground_nearby_title }}</h4>
    <ul class="playground-list">
        {% for nearby in playground.nearby(3) %}
        <li>
            <a href="{{ S3_BASE_URL }}{{ url_for('_playground', playground_slug=nearby.slug) }}">{{ nearby.display_name }}</a>
            <span class="distance">
                {{ nearby.distance|round(1) }} miles away |
                {% if nearby.city %}{{ nearby.city }}, {% endif %}{{ nearby.state }}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>


<div class="help-prompt">
    <p class="prompt">{{ COPY.content.playground_help_title }}</p>
    <p><a href="#edit-playground" class="btn btn-blue btn-block" data-toggle="modal"><i class="icon-pencil"></i> {{ COPY.content.playground_help_button }}</a></p>
</div>

<p class="removal">Is this listing inappropriate? <a href="#remove-playground" role="button" data-toggle="modal">Suggest this playground for removal.</a></p>

<p class="learn-more"><a href="../about/">Learn more about NPR's accessible playgrounds project</a></p>


{% if revisions.count() > 0 %}
<div class="changelog">
    <h5>Changelog</h5>
    <ul>
        {% for revision in revisions %}
        <li>
            <span class="timestamp">{{ revision.timestamp.strftime('%B %d, %Y %I:%M %p') }}</span>
            <ul>
                {% if revision.action == 'update' %}
                    {% for change in revision.get_log() %}
                    <li>
                    <strong>{{ display_field_name(change.field) }}</strong> {% if change.from == 0 and change.to == 1 %}selected{% elif change.from == 1 and change.to == 0 %}deselected{% elif not change.from %}set to <em>{{ change.to }}</em>{% elif not change.to %}unset from <em>{{ change.from }}</em>{% else %}changed from <em>{{ change.from }}</em> to <em>{{ change.to }}</em>{% endif %}.
                    </li>
                    {% endfor %}
                {% elif revision.action == 'insert' %}
                    <li>Playground created.</li>
                {% endif %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<!-- update form -->
<div id="edit-playground" class="update-form-modal modal hide fade">
	{% include "_form.html" %}
</div>

<!-- update form -->
<div id="remove-playground" class="remove-form-modal modal hide fade">
	{% include "_form-remove.html" %}
</div>
{% endblock %}


{% block wide_content %}{% endblock %}
