{% extends '_base.html' %}

{% block body_class %}playground{% endblock body_class %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>{{ PROJECT_NAME }}</h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<h1>{{ playground.name }}</h1>

<!-- Photos -->

<!-- Map / Address -->
<p>
{% if playground.facility %}
    {{ playground.facility }}
    {% if playground.facility_type %}({{ playground.facility_type }}){% endif %}
{% endif %}<br />
{% if playground.address %}{{ playground.address }}<br />{% endif %}
{% if playground.city %}{{ playground.city }}, {% endif %}
{% if playground.state %}{{ playground.state }} {% endif %}
{% if playground.zip %}{{ playground.zip }} {% endif %}
</p>

<!-- Share buttons -->

<!-- Categories -->

<!-- Description -->
<ul>
    {% if playground.agency %}
    <li class="agency">
            <strong>Agency:</strong> 
            {{ playground.agency }}
            {% if playground.agencytype %} ({{ playground.agencytype }}){% endif %}
    </li>
    {% endif %}
    {% if playground.owner %}
    <li class="owner">
        <strong>Owner:</strong> 
        {{ playground.owner }}
        {% if playground.owner_type %} ({{ playground.owner_type }}){% endif %}
    </li>
    {% endif %}
    {% if playground.remarks %}
    <li class="description">
        <strong>Description:</strong> 
        {{ playground.remarks }}
    </li>
    {% endif %}
</ul>
        

<!-- disqus -->

<!-- nearby parks -->

{% endblock %}


{% block wide_content %}{% endblock %}
