{% extends '_base.html' %}

{% block body_class %}search{% endblock body_class %}

{% block extra_css %}
    {{ CSS.push('css/mapbox.css') }}
{% endblock %}

{% block header_content %}
{% include '_nav-interior.html' %}
{% include '_alerts.html' %}
{% include '_search_form.html' %}
{% endblock %}

{% block wide_content %}
<div id="main-content">
    <div id="search-help-message" class="row-fluid">
        <div class="span12">
            <p class="help-description">{{ COPY.content.search_help_prompt_initial }}</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            {% include '_alerts.html' %}

            <h3 id="results-address"></h3>

            <div id="search-help">
                <h3>Did you mean...?</h3>
                <ul></ul>
            </div>

            <div id="map-loading">Searching...</div>

            <div id="no-geocode">
                <h3>{{ COPY.content.search_cant_geocode }}</h3>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 col-push-6">

            <div id="search-results-wrapper">
                <div id="search-results-map-wrapper">
                    <div id="search-results-map-desktop"></div>
                    <img id="search-results-map" src="" />
                    <div id="search-results-map-loading-text">Searching...</div>

                    <div class="zoom-buttons">
                        <button type="button" id="zoom-in" class="btn-zoom">+</button>
                        <button type="button" id="zoom-out" class="btn-zoom">-</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="span6 col-pull-6 first">

            <div id="search-results-not-found" class="help-prompt">
                <h4>{{ COPY.content.search_not_found }}</h4>
                <p class="prompt">{{ COPY.content.search_not_found_text }}</p>
                <p><a href="create.html" class="btn btn-blue btn-block"><i class="icon-plus-sign"></i> {{ COPY.content.search_help_button }}</a></p>
            </div>

            <div id="search-results">
                <div id="results-loading">Searching...</div>
                <ul class="playground-list">
                </ul>
            </div>

            <div id="search-help-prompt" class="help-prompt">
                <p class="prompt">{{ COPY.content.search_help_title }}</p>
                <p><a href="create.html" class="btn btn-blue btn-block" role="button"><i class="icon-plus-sign"></i> {{ COPY.content.search_help_button }}</a></p>
                <p class="add-many">{{ COPY.content.help_add_many }}</p>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block extra_foot_js %}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/jquery.ba-bbq.js') }}
    {{ JS.push('js/lib/jquery.smooth-scroll.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/utils.js') }}
    {{ JS.push('js/search.js') }}
    {{ JS.render('js/app-search-footer.min.js') }}
{% endblock %}
