<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ PROJECT_NAME }}</title>
</head>
<body>

    <h1>500x600 (target)</h1>
    <div style="width: 500px;">
	<!-- Embed starts here -->
    <iframe id='where-all-kids-play' src="widget.html" style="width: 100%; height: 600px; border-width:0; overflow: hidden;"></iframe>
	<!-- Embed ends here -->
    </div>

    <h1>900x600 (wide)</h1>
    <div style="width: 900px;">
    <iframe id='where-all-kids-play' src="widget.html" style="width: 100%; height: 600px; border-width:0; overflow: hidden;"></iframe>
    </div>

    <h1>300x600 (unsupported)</h1>
    <div style="width: 300px;">
    <iframe id='where-all-kids-play' src="widget.html" style="width: 100%; height: 600px; border-width:0; overflow: hidden;"></iframe>
    </div>

</body>
</html>
