<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ PROJECT_NAME }}</title>    
    <style type="text/css">
        iframe { border-width:0; overflow:hidden; }
    </style>
    <script src="js/lib/jquery-1.8.3.js"></script>
    <script src="js/lib/jquery.responsiveiframe.js"></script>

	<script>
		;(function($){
			$(function(){
				$('#iframe620').responsiveIframe({ xdomain: '*'});
				$('#iframe300').responsiveIframe({ xdomain: '*'});
				$('#iframe960').responsiveIframe({ xdomain: '*'});
			});
		})(jQuery);
	</script>

</head>
<body>

<h1>620x250</h1>
<iframe id='iframe620' src="widget.html" width="620" height="250"></iframe>

<h1>300x500</h1>
<iframe id='iframe300'src="widget.html" width="300" height="500"></iframe>

<h1>960x230</h1>
<iframe id='iframe960' src="widget.html" width="960" height="230"></iframe>

</body>
</html>
